<div class="container-fluid" >
    <div class="row justify-content-center">
      <div class="col-12">
        <h1 class="page-title">LISTE DES POINTEUSES</h1>
        <div class="count-container">
          <p>Nombre de pointeuses: {{ countPointeuses() }}</p>
        </div>
        
  
        <div class="row my-4">
          <!-- Small table -->
          <div class="col-md-12">
            <div class="card shadow">
             
              <div class="card-body">
                <button class="btn btn-info float-right" data-toggle="modal" data-target="#myModal" (click)="reset()">Ajouter pointeuse</button>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="input-group mb-3">
                     
                      <select class="form-control" [(ngModel)]="datafilter.name">
                        <option value="NetAdvisor-Sfax">NetAdvisor-Sfax</option>
                        <option value="NetAdvisor-Sousse">NetAdvisor-Sousse</option>
                        <option value="NetAdvisor-Tunis">NetAdvisor-Tunis</option>
                      </select>
                      <div class="input-group-prepend">
                        <button class="btn btn-info" (click)="filterAvance()">Recherche</button>
                      </div>
                    </div>
                  
                  </div>
                </div>
        <table class="table datatables" id="dataTable-1">
          <thead>
            <tr>
              <th></th>
              <th>Nom</th>
              <th>Succursale</th>
              <th>Status</th>
             
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            
            <tr *ngFor="let l of listAll; let i = index">
              <td>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input">
                  <label class="custom-control-label"></label>
                </div>
              </td>
              <td>{{ l.nom }}</td>
              <td>{{ l.succursales.nom }}</td>
              <td>{{ l.status }}</td>
           
              <td><button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="text-muted sr-only">Action</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <button class="dropdown-item"  data-toggle="modal" data-target="#myModal2" (click)="setItem(l)">Modifier</button>
                  <button class="dropdown-item" data-toggle="modal" data-target="#myModal3" (click)="deleteItem(l.id)">Supprimer</button>
             
                </div>
              </td>
            </tr>
  
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>
  </div> <!-- .col-12 -->
    </div> <!-- .row -->
  </div> <!-- .container-fluid -->
  
  
  <!------ modal ajout-->
  
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
         
          <h4 class="modal-title">Ajouter</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12 er">
              
            </div>
            <div class="col-lg-6">
              <label>Nom</label>
              <input type="text" placeholder="Nom" class="form-control nom"  required
              [(ngModel)]="dataSend.nom"
              name="nom">
            </div>
            <div class="col-lg-6">
              <label>IP</label>
              <input type="text" placeholder="IP" class="form-control ip"  
              [(ngModel)]="dataSend.ip"
              name="ip">
            </div>
            <div class="col-lg-6">
              <label>Numero</label>
              <input type="text" placeholder="Numero" class="form-control numero"  
              [(ngModel)]="dataSend.numero"
              name="numero">
            </div>
            <div class="col-lg-6">
                <label>Port</label>
                <input type="text" placeholder="Port" class="form-control port"  
                [(ngModel)]="dataSend.port"
                name="port">
              </div>
            <div class="col-lg-6">
              <label>Mot de Passe</label>
              <input type="password" placeholder="Mot_passe" class="form-control mot_passe"  required
              [(ngModel)]="dataSend.mot_passe"
              name="mot_passe">
            </div>
            <div class="col-lg-6">
              <label>Bauds</label>
              <input type="text" placeholder="Bauds" class="form-control bauds"  
              [(ngModel)]="dataSend.bauds"
              name="bauds">
            </div>
            <div class="col-lg-6">
              <label>Numero de Serie</label>
              <input type="text" placeholder="Numero_serie" class="form-control numero_serie"  required
              [(ngModel)]="dataSend.numero_serie"
              name="numero_serie">
            </div>
            <div class="col-lg-6">
              <label>Status</label>
              <input type="text" placeholder="Status" class="form-control status"  required
              [(ngModel)]="dataSend.status"
              name="status">
            </div>
            <div class="col-lg-6">
              <label>Succursale</label>
            <select class="form-control"  [(ngModel)]="dataSend.succursale">
              <option value="0" selected>Choisir une succursale</option>
              <option *ngFor="let l of listeSuccursale; let i = index" [ngValue]="l">{{l.nom}}</option>
            </select>
            </div>
      
        </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" (click)="saveData()">Sauvgarder</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
  <!---------- model update-->
  
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
         
          <h4 class="modal-title">Modifier</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12 er">
              
            </div>
            
            <div class="col-lg-6">
                <label>Nom</label>
                <input type="text" placeholder="Nom" class="form-control nom"  
                [(ngModel)]="dataUpdate.nom"
                name="nom">
              </div>
              <div class="col-lg-6">
                <label>IP</label>
                <input type="text" placeholder="IP" class="form-control ip"  
                [(ngModel)]="dataUpdate.ip"
                name="ip">
              </div>
              <div class="col-lg-6">
                <label>Numero</label>
                <input type="text" placeholder="Numero" class="form-control numero"  
                [(ngModel)]="dataUpdate.numero"
                name="numero">
              </div>
              <div class="col-lg-6">
                  <label>Port</label>
                  <input type="text" placeholder="Port" class="form-control port"  
                  [(ngModel)]="dataUpdate.port"
                  name="port">
                </div>
              <div class="col-lg-6">
                <label>Mot de Passe</label>
                <input type="password" placeholder="Mot_passe" class="form-control mot_passe" 
                [(ngModel)]="dataUpdate.mot_passe"
                name="mot_passe">
              </div>
              <div class="col-lg-6">
                <label>Bauds</label>
                <input type="text" placeholder="Bauds" class="form-control bauds"  
                [(ngModel)]="dataUpdate.bauds"
                name="bauds">
              </div>
              <div class="col-lg-6">
                <label>Numero de Serie</label>
                <input type="text" placeholder="Numero_serie" class="form-control numero_serie" 
                [(ngModel)]="dataUpdate.numero_serie"
                name="numero_serie">
              </div>
              <div class="col-lg-6">
                <label>Status</label>
                <input type="text" placeholder="Status" class="form-control status" 
                [(ngModel)]="dataUpdate.status"
                name="status">
              </div>
              <div class="col-lg-6">
                <label>Succursale</label>
              <select class="form-control"  [(ngModel)]="dataSend.succursale">
                <option value="0" selected>Choisir une succursale</option>
                <option *ngFor="let l of listeSuccursale; let i = index" [ngValue]="l">{{l.nom}}</option>
              </select>
              </div>
            
           
           
        </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" (click)="saveUpdate(idItem)">Sauvgarder</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
         
          <h4 class="modal-title">Supprimer</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">
             <h2> Voulez-vous supprimer  {{name}} ?</h2>
             <br>
            </div>
           
         
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" (click)="saveDelete(idItem)" data-dismiss="modal">Sauvgarder</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
