<div class="container-fluid" >
    <div class="row justify-content-center">
      <div class="col-12">
        <h1 class="page-title">GESTION DES SUPERVISEURS</h1>
        <div class="count-container">
          <p>Nombre de superviseurs: {{ countSuperviseurs() }}</p>
        </div>
        
  
        <div class="row my-4">
          <!-- Small table -->
          <div class="col-md-12">
            <div class="card shadow">
             
              <div class="card-body">
                <button class="btn btn-info float-right" data-toggle="modal" data-target="#myModal" (click)="reset()">Ajouter superviseur</button>
        <table class="table datatables" id="dataTable-1">
          <thead>
            <tr>
              <th></th>
              <th>nom</th>
              <th>Prenom</th>
              <th>Succursale</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            
            <tr *ngFor="let l of listAll; let i = index">
              <td>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input">
                  <label class="custom-control-label"></label>
                </div>
              </td>
              <td> {{ l.nom }}</td>
              <td>{{ l.prenom }}</td>
              <td>{{ l.succursales.nom }}</td>
              <td><button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="text-muted sr-only">Action</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <button class="dropdown-item" data-toggle="modal" data-target="#myModal4" (click)="(l.id)">Afficher</button>
                  <button class="dropdown-item"  data-toggle="modal" data-target="#myModal2" (click)="setItem(l.id)">Modifier</button>
                  <button class="dropdown-item" data-toggle="modal" data-target="#myModal3" (click)="deleteItem(l.id)">Supprimer</button>
             
                </div>
              </td>
            </tr>
  
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>
  </div> <!-- .col-12 -->
    </div> <!-- .row -->
  </div> <!-- .container-fluid -->
  <!-- Modal afficher -->

  
  <!------ modal ajout-->
  
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
         
          <h4 class="modal-title">Ajouter</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12 er">
              
            </div>
            <div class="col-lg-6">
              <label>Prenom</label>
              <input type="text" placeholder="Prenom" class="form-control prenom"  required
              [(ngModel)]="dataSend.prenom"
              name="prenom">
            </div>
            <div class="col-lg-6">
              <label>nom</label>
              <input type="text" placeholder="nom" class="form-control nom"  required
              [(ngModel)]="dataSend.nom"
              name="nom">
            </div>
            <div class="col-lg-6">
              <label>Succursale</label>
            <select class="form-control"  [(ngModel)]="dataSend.succursale">
              <option value="0" selected>Choisir une succursale</option>
              <option *ngFor="let l of listeSuccursale; let i = index" [ngValue]="l">{{l.nom}}</option>
            </select>
            </div>
              
           
        </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" (click)="saveData()">Enregistrer</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
  <!---------- model update-->
  
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
         
          <h4 class="modal-title">Modifier</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12 er">
              
            </div>
            <div class="col-lg-6">
              <label>Prenom</label>
              <input type="text" placeholder="Prenom" class="form-control nom" 
              [(ngModel)]="dataUpdate.prenom"
              name="prenom">
            </div>
            <div class="col-lg-6">
              <label>nom</label>
              <input type="text" placeholder="nom" class="form-control nom" 
              [(ngModel)]="dataUpdate.nom"
              name="nom">
            </div>
           
            <div class="col-lg-6">
              <label>Succursale</label>
            <select class="form-control"  [(ngModel)]="dataSend.succursale">
              <option value="0" selected>Choisir une succursale</option>
              <option *ngFor="let l of listeSuccursale; let i = index" [ngValue]="l">{{l.nom}}</option>
            </select>
            </div>
        </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" (click)="saveUpdate(idItem,dataUpdate.succursale)">Enregistrer</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
         
          <h4 class="modal-title">Supprimer</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">
             <h2> Voulez-vous supprimer superviseur {{name}} ?</h2>
             <br>
            </div>
           
         
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" (click)="saveDelete(idItem)" data-dismiss="modal">Enregistrer</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>

        </div>
      </div>
      
    </div>
  </div>
  

