<div class="container-fluid" >
    <div class="row justify-content-center">
      <div class="col-12">
        <h1 class="page-title">LISTE DES SUCCURSALES</h1>
        <div class="count-container">
          <p>Nombre de succursales: {{ countSuccursales() }}</p>
        </div>
        
  
        <div class="row my-4">
          <!-- Small table -->
          <div class="col-md-12">
            <div class="card shadow">
             
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="input-group mb-3">
                      <select class="form-control" [(ngModel)]="datafilter.name">
                        <option value="Sfax">Sfax</option>
                        <option value="Sousse">Sousse</option>
                        <option value="Tunis">Tunis</option>
                      </select>
                      <div class="input-group-prepend">
                        <button class="btn btn-info" (click)="filterAvance()">Recherche</button>
                      </div>
                    </div>
                  </div>
              </div>
        <table class="table datatables" id="dataTable-1">
          <thead>
            <tr>
              <th></th>
              <th>#</th>
              <th>Nom</th>
              <th>Adresse</th>
              <th>Ville</th>
              <th>Telephone</th>
              <th>Email</th>
              <th>Date de création</th>
             
            </tr>
          </thead>
          <tbody>
            
            <tr *ngFor="let l of listAll; let i = index">
              <td>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input">
                  <label class="custom-control-label"></label>
                </div>
              </td>
              <td> {{ l.id }}</td>
              <td>{{ l.nom }}</td>
              <td>{{ l.adresse}}</td>
              <td>{{ l.ville}}</td>
              <td>{{ l.telephone}}</td>
              <td>{{ l.email}} </td>
              <td>{{l.date_creation}}</td>
            </tr>
  
          </tbody>
        </table>
      </div>
    </div>
  
  </div>
  
  
 